body{
    
    background-image: url(/../assets/images/logos/supp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;

}