img{
    margin-bottom: 60px;
}
body {
    display: flex;
}
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
  
}
.main-content  {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    
}
.sidebar {
    
    background-color: rgb(98, 98, 240);
    height: 100vh;
  }
  
  .nav-link {
    font-size: 18px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }
  
  .nav-link i {
    margin-right: 10px;
    font-size: 20px;
    
  }
  
  .nav-link:hover {
    background-color: #e9ecef;
    border-radius: 5px;
  }
  
  .nav-item + .nav-item {
    margin-top: 10px;
    
  }
  
  .fas {
    color: white;
  }
  .bi{
    color: white;
  }
  
  
  